<!DOCTYPE html>
<html>
  <header>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </header>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    {{> footer}}
  </body>
</html>